---
import { Image } from 'astro:assets'
import Layout from '../layouts/Layout.astro'
import Link from '../components/Link.astro'
import Icon from '../components/Icon.astro'

import { socialsData } from '../content/_data'
import aboutImage from '../images/port-one.jpg'
---

<Layout title="About">
	<div
		class="w-full h-full flex flex-col lg:flex-row justify-between max-lg:space-y-8 lg:space-x-12"
	>
		<section class="flex-1">
			<Image
				class="lg:hidden aspect-square rotate-3 rounded-2xl bg-zinc-800 object-cover"
				src={aboutImage}
				alt="Marcus Virginia sitting in a chair at VeeCon"
				width={382}
			/>
			<h1 class="text-4xl font-semibold text-slate-100 tracking-wide my-8 lg:mt-0">
				I'm Marcus Virginia. I build cool stuff with web technology.
			</h1>

			<p class="mt-6 text-base text-zinc-400 leading-7">
				Hey there! I'm a software engineer who's all about using web technology to
				tackle real-world challenges and make a positive impact on people's lives.
				Whether that means building more accessible tools or creating inclusive
				online experiences, I'm always looking for ways to solve problems using
				technology.
				<br />
				<br />
				For me, it's not just about writing code—it's about collaborating directly with
				the folks who will actually use the product, working hand-in-hand with stakeholders,
				and learning from domain experts to ensure what I build truly matters.
				<br />
				<br />
				I'm pretty passionate about products that align with my values, challenge me to
				grow professionally, and let me explore new tech. Lately, I've been diving into
				LLMs, trying to apply it to many different use-cases to enhance productivity and
				experience. I'm also intrigued by WASM, Web Containers, PWAs, and Developer Experience—if
				it's new and exciting, I want to check it out.
				<br />
				<br />
				When I'm not heads-down building software, you'll likely find me catching a flight
				somewhere, switching up my scenery and sampling the local cuisine (Japanese food
				is top-tier in my book!). I'm into fashion too—think minimalist vibes and some
				streetwear flair. As for downtime, video games are my go-to for art, storytelling,
				and just plain fun. The Witcher 3, God of War, and Control are some personal favorites,
				and I'll forever remember when NBA 2K was at its peak (2017, I'm looking at you).
				<br />
				<br />
				To keep myself active, basketball's my sport, and I do my best to try and hit
				the gym on a regular basis—emphasis on “try.”
				<br />
				<br />
				If any of this resonates with you, or if you just want to talk tech, travel, or
				trends, feel free to
				<Link href="https://www.linkedin.com/in/marcusvirginia/">reach out</Link> to me.
				I'm always up for a good conversation!
			</p>
		</section>
		<section class="space-y-12 lg:px-10">
			<Image
				class="max-lg:hidden aspect-square rotate-3 rounded-2xl bg-zinc-800 object-cover"
				src={aboutImage}
				alt="Marcus Virginia sitting in a chair at VeeCon"
				width={433}
			/>
			<ul>
				{
					socialsData.map((social) => {
						return (
							<li class="mt-4">
								<a
									class="group flex items-center space-x-4 text-zinc-500 hover:text-brand-blue transition"
									href={social.url}
									aria-label={`Follow on ${social.name}`}
									rel="me"
								>
									<Icon name={social.icon} />
									<div class="text-zinc-200 group-hover:text-brand-blue transition text-sm font-semibold">
										Follow on <span class="capitalize">{social.name}</span>
									</div>
								</a>
							</li>
						)
					})
				}
				<li class="mt-8 pt-8 border-t border-zinc-700/40">
					<a
						class="group flex items-center space-x-4 text-zinc-500 hover:text-brand-blue transition"
						href="mailto:marcusvirg345@gmail.com"
					>
						<Icon name="mail" />
						<div
							class="text-zinc-200 group-hover:text-brand-blue transition text-sm font-semibold"
						>
							marcusvirg345@gmail.com
						</div>
					</a>
				</li>
			</ul>
		</section>
	</div>
</Layout>
